
<table class="table table-hover table-striped">
    <tr>
        <th>Category</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Request Amount</th>
        <th>Actions</th>
    </tr>
</table>

@section scripts
{
<script src="~/Scripts/pending.js"></script>
    }