@using DonationApplication.data
@using DonationApplication.web.Models
@model DashboardViewModel

<div class="row" style="margin-top:50px;">
 
    <div class="col-md-offset-3 col-md-6 well">
        <a class="btn btn-primary" href="account/logout/">Log out</a>
        <h2>Welcome back @Model.User.FirstName @Model.User.LastName</h2>
        <a class="btn btn-primary" href="/home/application/" >Submit Application</a>
        <a class="btn btn-primary" href="/home/history/" >View History</a>
    </div>
</div>