<div class="row" style="margin-top:50px;">
    <div class="col-md-offset-3 col-md-6 well">
        <h2>Welcome!</h2>
        <a class="btn btn-primary" href="/account/login">Log In</a>
        <a class="btn btn-primary" href="/account/signup">Create an account</a>
    </div>
</div>