
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h3>Login</h3>
        <form method="post" action="/account/login" class="well">
            <input type="text" name="email" class="form-control" placeholder="Email" />
            <br />
            <input type="password" name="password" class="form-control" placeholder="Password" />
            <br />
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

